body{
	background-color : coral;
	text-shadow:
		-1px -1px 0 white,
		 1px -1px 0 white,
		-1px  1px 0 white,
		 1px  1px 0 white;		
}
h1{
	color : green;
	size: 30px;
}
p {
	color: blue;
	size: 15px;
}